<!------- Barra de navegacion--->

  <!------Fin barra de navegacion-->
  <!----Titulo y portada de revista---->
  <section id="author" >
    <div class="container" >
      <div class="section-title"  *ngIf="revista$ | async as revista">
        <h2 class="numero">Número: {{revista.numeroR}} </h2>
  <p>&nbsp;</p>
        <div class="row">
          <div class="col-lg-6">
            <div class="pricing-table">
              <h4>Número: {{revista.numeroR}}</h4>
              
              <p><a href="{{revista.pdf}}" target="_blank"><img src="{{revista.imagenR}}" width="1225" height="1075" alt="TecnoCultura{{revista.numeroR}}" class="img-fluid"></a></p>
            </div>
          </div>

          <!----Fin titulo y portada revista--->

          <!---Columna derecha-->
          <div class="col-lg-5">
          <p>&nbsp;</p>
          <h4 class="texto">Aplicación del Método del Elemento Finito en la Ecuación de Calor en Aletas de Material de Aluminio y Cobre</h4>
          <div>
            <pre class="text-center">Javier Norberto Gutiérrez Villegas, Israel Isaac Gutiérrez Villegas, Marco Antonio Gutiérrez Villegas </pre>

            <a href="articulos/49/1.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a><a href="articulos/49/1.pdf"></a>
           <hr>
            <h4 class="texto">Clasificación de perfiles por preferencia de personalidad en redes sociales mediante redes neuronales artificiales aplicando la técnica de retro-propagación</h4>
          <pre class="text-center"> Dr. Adolfo Meléndez Ramírez, Ing. Miguel Ángel Garrido Gutiérrez, M. en ADN. Juan Manuel Stein Carrillo, MTE. Carlos Alfonso Trejo Villanueva, Ing. Ruth Anel Gutiérrez González
          </pre>
          <a href="articulos/49/2.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>
          <h4>&nbsp;</h4>
        <hr>
<h4 class="texto">Sistema de Control de Viáticos y Compensaciones para la Tripulación de una Empresa Transnacional de Vuelo</h4>
          <pre class="text-center">Jessica Guerra Velázquez, Perla Guadalupe Nava Terrones, M. en C. Edgar Corona Organiche, Dr. Abraham Jorge Jiménez Alfaro , M. en C. Irving Cardiel Alcocer Guillermo, Ing. Belem Enríquez Vázquez
          </pre>
          <a href="articulos/49/3.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>        
          <hr>
          <h4 class="texto">Monitoreo de consumo de corriente eléctrica: categorización de electrodomésticos mediante Arduino</h4>
          <pre class="text-center">M. en ISC. Leonardo Moreno Villalba, Dr. Adolfo Meléndez Ramírez, Dr. Jacob Ávila Camacho
          </pre>
          <a href="articulos/49/4.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>      
          <h4 class="texto">Diseño de una aplicación móvil híbrida mediante Ionic</h4>
          <pre class="text-center">Dra. Griselda Cortés Barrera, Ing. Leonardo D. Mandujano, Dra. Mercedes Flores Flores, Mtro. Martín Verduzco Rodríguez
          </pre>
          <a href="articulos/49/5.pdf"><img src="https://firebasestorage.googleapis.com/v0/b/testresvista-66c5f.appspot.com/o/assets%2Fpdf.png?alt=media&token=5b12d4aa-0543-47ba-9ff5-8c70baebf1e7" width="30" height="30" alt=""></a>  
        </div>  
      </div>
    </div>
 
