<app-header></app-header>
<div  class="container">
  <div class="slider2">
    <ul>
      <li>
  <img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/Fondos%20Oscuros%2FWhatsApp%20Image%202019-10-30%20at%2008.09.00.jpeg?alt=media&token=6d57f5e6-b91d-42e5-a98b-63dbb8de09df"> 
  </li>
      <li>
  <img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/Fondos%20Oscuros%2F123.jpeg?alt=media&token=c265a385-ad4d-44a4-a69e-339131bb1822">
  </li>
      <li>
  <img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/Fondos%20Oscuros%2FWhatsApp%20Image%202019-10-30%20at%2008.13.27.jpeg?alt=media&token=946cb4e3-a386-4db0-b8d6-f27e91902aba">
  </li>
  <li>
    <img src="https://firebasestorage.googleapis.com/v0/b/tecnocultura-3ddee.appspot.com/o/Fondos%20Oscuros%2FWhatsApp%20Image%202019-10-30%20at%2008.13.28.jpeg?alt=media&token=7c1b2a18-015a-4789-9e4a-099745c06434">
    </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
